---
name: img
on:
  push:
    branches: [main]
    paths:
      - bited-img.toml
      - src/**
      - txt/**
      - flake.nix
      - flake.lock
      - img.nix
      - .github/workflows/img.yml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  img:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main
      - run: nix run .#FIXME-img
      - name: push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: img txt
          commit_message: auto-generate images
