name: pub
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-[0-9]+
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pub:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - uses: DeterminateSystems/determinate-nix-action@main
      - run: printf "${GITHUB_REF_NAME#v}" > VERSION
      - name: push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: VERSION
          commit_message: 'chore: bump version to ${{ github.ref_name }}'
      - uses: DeterminateSystems/flakehub-push@main
        with:
          visibility: public
          name: molarmanful/bited-utils
          tag: ${{ inputs.tag }}
          include-output-paths: true
